/* Sidebar */
.sidebar {
    width: 240px;
    flex-shrink: 0;
    background: #0a0a12;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 16px 16px;
    border-right: 1px solid #1a1a2e;
}

.sidebar-logo {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
    padding: 0 12px;
    letter-spacing: -0.02em;
}

.sidebar-nav {
    display: flex;
    font-family: "Droid Sans Mono", monospace;
    font-weight: 500;
    flex-direction: column;
    gap: 2px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 12px;
    border-radius: 6px;
    border: none;
    background: transparent;
    /*color: #a0a0b0;*/
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: all 0.15s;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: left;
}

.sidebar-item:hover {
    background: rgba(255, 255, 255, 0.05);
    color: white;
}

.sidebar-item.active {
    background: #2d3748;
    color: white;
}

.sidebar-item svg {
    flex-shrink: 0;
}

.sidebar-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-divider {
    height: 1px;
    background: #1a1a2e;
    margin: 20px 12px;
}

.sidebar-section-title {
    font-size: 12px;
    font-weight: 600;
    color: #a0a0b0;
    padding: 0 12px;
    margin-bottom: 8px;
    font-family: "Inter", sans-serif;
}